
body{
  overflow-x: hidden;
  font-weight: 400;
}

.nav-links {
  list-style: none;
}

.nav-links > li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links > li > a {
  font-size: 1em;
  color: black;
  text-decoration-line: none;
}

.nav-links:hover>li>a:hover{
  color: blue;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 0.1px solid black;
}

.flex-box{
  position: relative;
  left: 65%;
}

.hero-content > h1{
  font-weight: 800;
  letter-spacing: -0.025em;
    margin-bottom: 1rem;
   font-size: 50px;
}

.hero-subtitle {
  font-weight: 400;
    color: #74808B;
    max-width: 42rem; 
}