
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  font-weight: 400;
  overflow-y: scroll;
}

section{
  height: 100vh;
  width: 100vw;
}
.nav-links {
  list-style: none;
}

.nav-links > li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links > li > a {
  font-size: 1em;
  color: black;
  text-decoration-line: none;
  position: absolute;
  top: 10%;
  z-index: 10;
}

.nav-links:hover > li > a:hover {
  color: blue;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 0.1px solid black;
}

.flex-box {
  position: absolute;
  top: 15%;
  left: 65%;
}

.hero-content > h1 {
  font-weight: 800;
  letter-spacing: -0.025em;
  margin-bottom: 1rem;
  font-size: 50px;
}

.hero-subtile {
  font-weight: 400;
  color: #74808b;
  max-width: 42rem;
}

.hero-content {
  position: absolute;
  top: 30%;
  left: 15%;
}


.hero-subtile {
  color: grey;
  font-size: 20px;
}

.flex-box1 {
  position: absolute;
  left: 15%;
  top: 62%;
}

.margin{
  margin: -5px;
}

.sizeImg{
  width: auto;
  height: 10rem;
}

.sizeImg2{
  width: auto;
  height: 5rem;
  position: absolute;
  top: 60%;
  left: -40%;
}
.sizeImg3{
  width: auto;
  height: 10rem;
   position: relative;
   top: 40%;
   left: 10%;
}

.sizeImg4{
  width: auto;
  height: 10rem;
  position: absolute;
  top: 100%;
  left: -50%;
}

.sizeImg5{
  width: auto;
  height: 6rem;
  position: absolute;
  top: 110%;
  left: 20%; 
}

.second_page >.sec_page >img{
  position: absolute;
  top: 110%;
  left: 10%;
  width: 80%;
  height: 70%;
}

.flex-item{
  display: flex;
  justify-content: space-evenly; 
  margin-top: 5%; 
}